<%- include header %>
<form method="post" action="/upload" enctype="multipart/form-data"  >
 <p><input type="text" name="name" /></p>
 <p><input type="text" name="name2" /></p>
 <p><input type="text" name="name3" /></p>
 <p><input type="text" name="name4" /></p>
 <p><input type="text" name="name5" /></p>
 <p><input type="text" name="name6" /></p>
 <p><input type="text" name="name7" /></p>
 <p><input type="file" name="file" /></p>
 <p><input type="submit" value="Upload" /></p>
 </form></body></html>
<%- include footer %>